[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "passport"]
	path = passport
	url = https://github.com/alistaire47/passport
	shallow = true
	registered = true
